@charset "UTF-8";
/* tipografias a usar
courier new,gillsans y arial*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 20px 70px;
  background: url(../imgs/fondo{.jpg) repeat-y center fixed;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  body {
    margin: 30px;
    background-position: right;
  }
}

header {
  margin-bottom: 25px;
}

header nav {
  border-bottom: 2px solid #7a82abff;
}

.subtitulo {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.subtitulo:hover {
  color: #c6d4ffff;
}

.activo {
  color: #f7717dff;
}

.activo:hover {
  color: #f7717dff;
}

.perfil {
  width: 30px;
  height: 30px;
  text-align: center;
}

ol ul {
  position: absolute;
  display: none;
}

ol ul li {
  display: block;
}

/* Index */
.carrusel {
  height: 600px;
  width: auto;
  padding: 40px 200px;
}

@media screen and (max-width: 768px) {
  .carrusel {
    height: 350px;
    padding: 20px 75px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item {
    padding-bottom: 25px;
  }
}

.div__h5__p {
  background-color: black;
  color: white;
  font-size: 1rem;
}

.main__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0px;
}

.div__section {
  display: inline-block;
  width: 600px;
  height: auto;
  padding-bottom: 20px;
}

.div__section p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.div__section p ul {
  padding-left: 0px;
}

.portada {
  width: 800px;
  height: 400px;
  padding-bottom: 40px;
  display: block;
  margin: auto;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  list-style-position: inside;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.juntos {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.sticker {
  width: 85px;
  height: 85px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .sticker {
    width: 80px;
    height: 80px;
  }
}

.noticia {
  background-color: white;
  border: solid 2px #2dc2bdff;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 12px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  color: #7a82abff;
  font-weight: bold;
}

.prox {
  width: 200px;
  height: 110px;
  margin-right: 15px;
}

/*Estrellitas */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: #7a82abff;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #2dc2bdff;
}

input[type="radio"]:checked ~ label {
  color: #2dc2bdff;
}

/* Fin Estrellitas */
.titulos {
  color: #f7717dff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background-image: url("https://i.pinimg.com/564x/c3/96/b7/c396b715d21f85d3144777eb5871040d.jpg");
  background-position: center bottom;
  border-radius: 8px;
}

ul.tipoDeManga li {
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

/* Footer ya se que lo voy a terminar cambiando */
footer {
  color: white;
  font-weight: bolder;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#16001eff), to(#3a014e));
  background-image: linear-gradient(to bottom, #16001eff, #3a014e);
  margin: 20px 0px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer img {
  width: 25px;
  height: 25px;
  margin: 8px;
}

/* Anime */
.container {
  text-align: center;
}

.container__anime {
  border: 1px solid #16001eff;
  width: 300px;
  height: 350px;
  margin: 10px  auto;
  padding: 15px;
}

.container__anime p.nombreAnime {
  color: #2dc2bdff;
  font-family: 'Georama', sans-serif;
  font-size: 2rem;
  margin-top: 25px;
}

.container__anime p {
  font-size: 1rem;
}

/* Japones*/
.hiragana {
  font-size: 1rem;
  color: #2dc2bdff;
  font-weight: bold;
}

.imgJaponeshiragana2 {
  background-image: url("../imgs/hiragana2.jpg");
  width: 700px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
}

.imgJaponesnumerosjapones {
  background-image: url("../imgs/numerosjapones.jpg");
  width: 700px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
}

.imgJaponesnumerosjapones2 {
  background-image: url("../imgs/numerosjapones2.jpg");
  width: 700px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: 200px;
}

p, li {
  line-height: 25px;
  margin: 10px;
}

.links {
  color: black;
  font-style: italic;
}

/* Manga */
div.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 400px 200px 400px;
      grid-template-columns: 200px 400px 200px 400px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding: 40px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  div.grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 360px;
        grid-template-columns: 200px 360px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 40px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

div.grilla img.manga {
  width: 200px;
  height: 320px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  div.grilla img.manga {
    width: 200px;
    height: 320px;
  }
}

div.grilla .grilla__seccion {
  border-right: 1.5px solid #2dc2bdff;
  border-top: 1.5px solid #2dc2bdff;
}

div.grilla .grilla__seccion p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #7a82abff;
  font-size: 1.8rem;
  font-weight: bold;
}

.sobre {
  background-color: white;
  padding: 5px;
}

.verMas {
  border: 2px solid #2f0141;
  font-size: 1rem;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.verMas:hover {
  background-color: #2f0141;
  color: white;
}

p a {
  text-decoration: none;
}

/*Reseñas*/
.reseñas {
  margin: 25px 0px;
  background-color: #c6d4ffff;
  border-radius: 10px;
}

.reseñas h2 {
  margin: 15px;
  font-size: 2rem;
  color: #16001eff;
  padding: 10px 5px;
  font-weight: bold;
}

.reseñas div {
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.reseñas div p {
  font-size: 1rem;
}

.reseña__quien {
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  font-size: 1rem;
}

.review {
  display: block;
  margin: auto;
  background-color: #16001eff;
  padding: 10px;
  width: 500px;
  height: 300px;
  text-align: center;
}

.formulario {
  margin: 50px 250px;
  padding: 35px;
  border: 2px solid #f7717dff;
  border-radius: 15px;
}

.formulario label {
  color: black;
}
/*# sourceMappingURL=styles.css.map */