@charset "UTF-8";
/* tipografias a usar
courier new,gillsans y arial*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px 0px;
  background: url(../imgs/fondo{.jpg) repeat-y center fixed;
  background-size: cover;
}

@media screen and (max-width: 769px) {
  body {
    background-position: right;
  }
}

header {
  margin-bottom: 25px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: #eaeae9;
}

header nav {
  border-bottom: 2px solid #7a82abff;
}

@media screen and (max-width: 769px) {
  header nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subtitulo {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.subtitulo:hover {
  color: #c6d4ffff;
}

.activo {
  color: #f7717dff;
}

.activo:hover {
  color: #f7717dff;
}

.perfil {
  width: 30px;
  height: 30px;
  text-align: center;
}

ol ul {
  position: absolute;
  display: none;
}

ol ul li {
  display: block;
}

.botonHambu {
  color: #16001eff;
  background-color: #eaeae9;
  border: solid 1px #16001eff;
  border-radius: 10px;
}

.botonBuscar {
  border: 1px solid #f7717dff;
}

.botonBuscar:hover {
  background-color: #f7717dff;
  border: 1px solid #f7717dff;
}

/* Index */
.carrusel {
  height: 600px;
  width: auto;
  padding: 40px 200px;
}

@media screen and (max-width: 769px) {
  .carrusel {
    height: 350px;
    padding: 20px 75px;
  }
}

@media screen and (max-width: 426px) {
  .carrusel {
    width: 300px;
    height: 200px;
    padding: 15px 35px;
  }
}

@media screen and (max-width: 769px) {
  .carousel-item {
    padding-bottom: 25px;
  }
}

.div__h5__p {
  background-color: black;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 426px) {
  .div__h5__p {
    margin-top: 110px;
  }
}

.portada {
  width: 800px;
  height: 400px;
  padding-bottom: 40px;
  display: block;
  margin: auto;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  list-style-position: inside;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.juntos {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.sticker {
  width: 85px;
  height: 85px;
  margin: 5px;
}

@media screen and (max-width: 769px) {
  .sticker {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 426px) {
  .sticker {
    width: 45px;
    height: 45px;
  }
}

.noticia {
  background-color: white;
  border: solid 2px #2dc2bdff;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 12px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  color: #7a82abff;
  font-weight: bold;
}

.prox {
  width: 200px;
  height: 110px;
  margin-right: 15px;
}

@media screen and (max-width: 426px) {
  .prox {
    width: 100px;
    height: 55px;
  }
}

.contenedor {
  padding: 12px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 769px) {
  .contenedor {
    margin: auto;
  }
}

.contenedor .row {
  padding-bottom: 25px;
}

@media screen and (max-width: 426px) {
  .contenedor .row {
    width: 320px;
  }
}

.contenedor .row .col-md-8 {
  margin-bottom: 25px;
}

@media screen and (max-width: 769px) {
  .contenedor .row .col-md-8 {
    width: 730px;
  }
}

@media screen and (max-width: 426px) {
  .contenedor .row .col-md-8 {
    width: 310px;
    margin: 5px 15px;
  }
}

.contenedor .row .col-md-4 {
  margin-bottom: 25px;
}

@media screen and (max-width: 769px) {
  .contenedor .row .col-md-4 {
    width: 730px;
  }
}

@media screen and (max-width: 426px) {
  .contenedor .row .col-md-4 {
    width: 310px;
    margin: 15px;
  }
}

.contenedor .row ul {
  padding-left: 0px;
  background-color: #eaeae9;
}

/*Estrellitas */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: #7a82abff;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #2dc2bdff;
}

input[type="radio"]:checked ~ label {
  color: #2dc2bdff;
}

/* Fin Estrellitas */
.titulos {
  color: #f7717dff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background-image: url("https://i.pinimg.com/564x/c3/96/b7/c396b715d21f85d3144777eb5871040d.jpg");
  background-position: center bottom;
  border-radius: 8px;
}

@media screen and (max-width: 426px) {
  .titulos {
    margin: 0px;
  }
}

ul.tipoDeManga li {
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

/* Footer ya se que lo voy a terminar cambiando */
footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 200px;
  margin-top: 105px;
  color: black;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer img {
  width: 45px;
  height: 45px;
  margin: 8px;
}

@media screen and (max-width: 426px) {
  footer img {
    width: 25px;
    height: 25px;
  }
}

.futer {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 426px) {
  .futer {
    display: none;
  }
}

/* Anime */
.container {
  text-align: left;
  margin: 35px auto;
}

.container__anime {
  background-color: #16001eff;
  width: 300px;
  height: 480px;
  margin: 10px  auto;
  position: relative;
}

.container__anime p.nombreAnime {
  color: #2dc2bdff;
  font-family: 'Georama', sans-serif;
  font-size: 2rem;
  padding-left: 15px;
  position: relative;
  z-index: inherit;
  line-height: 1;
}

.container__anime p {
  font-size: 1rem;
  color: white;
}

.container__anime:hover {
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
  color: #2dc2bdff;
}

.anime {
  display: block;
  margin: 15px auto;
  padding: 5px;
  background-color: #7a82abff;
  width: 250px;
  height: 300px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle:hover {
  opacity: 1;
}

.text .boton {
  background-color: #c6d4ffff;
  border: #c6d4ffff;
  color: black;
  font-family: 'Georama', sans-serif;
  font-size: 0.9rem;
  padding: 5px 5px;
  width: 150px;
}

/*tooltip*/
.tooltip {
  opacity: 1;
  z-index: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 550px;
  height: auto;
  background-color: white;
  color: black;
  border: 2px solid #2dc2bdff;
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  line-height: 1.5;
}

@media screen and (max-width: 769px) {
  .tooltip .tooltiptext {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .tooltip .tooltiptext {
    display: none;
  }
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #2dc2bdff transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 550px;
  height: auto;
  background-color: white;
  color: black;
  border: 2px solid #2dc2bdff;
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  line-height: 1.5;
}

@media screen and (max-width: 769px) {
  .tooltip .tooltiptextleft {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .tooltip .tooltiptextleft {
    display: none;
  }
}

.tooltip .tooltiptextleft::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #2dc2bdff;
}

.tooltip:hover .tooltiptextleft {
  visibility: visible;
}

/* Japones*/
.japones {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .japones {
    width: 700px;
    height: auto;
  }
}

@media screen and (max-width: 426px) {
  .japones {
    width: 315px;
    height: auto;
    display: none;
  }
}

.celu {
  display: none;
}

@media screen and (max-width: 426px) {
  .celu {
    height: auto;
    width: 310px;
    margin: auto;
    display: block;
  }
}

.navJapones {
  margin: 10px 200px;
}

@media screen and (max-width: 769px) {
  .navJapones {
    margin: 5px;
  }
}

@media screen and (max-width: 426px) {
  .navJapones {
    margin: 5px;
  }
}

.navJapones .botonJapones {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  border: 2px solid #f7717dff;
  border-radius: 15px;
  background-color: white;
}

.navJapones .activee {
  background-color: #c6d4ffff;
  border: 2px solid #c6d4ffff;
}

.botonJapones:hover {
  color: #f7717dff;
  border: 2px solid black;
}

.activee:hover {
  color: black;
  background-color: #c6d4ffff;
  border: 2px solid #c6d4ffff;
}

img {
  width: 200px;
}

p, li {
  line-height: 25px;
  margin: 10px;
}

.titulosJap {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px #f7717dff;
  text-align: center;
  margin-top: 75px;
}

@media screen and (max-width: 426px) {
  .titulosJap {
    margin: 15px 4px;
  }
}

.subtitulosJap {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 5px #7a82abff;
  text-align: center;
  margin-top: 65px;
}

.divJap {
  overflow-x: auto;
}

.divJap table {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  border-collapse: collapse;
  width: 800px;
  margin: 35px auto;
}

.divJap table td, .divJap table th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

@media screen and (max-width: 769px) {
  .divJap table {
    margin: 25px;
    width: 720px;
  }
}

@media screen and (max-width: 426px) {
  .divJap table {
    margin: 10px;
  }
}

tr:nth-child(even) {
  background-color: #d6d6d6;
}

.tablaJap {
  background-color: #7a82abff;
  color: white;
}

.textoJap {
  background-color: #eaeae9;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 350px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .textoJap {
    margin: 25px 100px;
  }
}

@media screen and (max-width: 426px) {
  .textoJap {
    margin: 10px;
  }
}

.colorJap {
  margin: 15px;
}

.colores {
  height: 140px;
  width: 140px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 200px;
  text-align: center;
  padding-top: 52px;
}

@media screen and (max-width: 426px) {
  .colores {
    height: 100px;
    width: 125px;
    padding: 32px 5px;
  }
}

.rojo {
  background-color: red;
  color: white;
}

.amarillo {
  background-color: yellow;
}

.gris {
  background-color: gray;
  color: white;
}

.naranja {
  background-color: orange;
}

.verde {
  background-color: green;
  color: white;
}

.rosa {
  background-color: pink;
}

.blanco {
  background-color: white;
}

.violeta {
  background-color: purple;
  color: white;
}

.marron {
  background-color: brown;
  color: white;
}

.azul {
  background-color: blue;
  color: white;
}

.negro {
  background-color: black;
  color: white;
}

.celeste {
  background-color: lightblue;
}

.colorTexto {
  font-size: 1.5rem;
  height: 140px;
  width: 140px;
  padding: 35px 20px;
  background-color: #eaeae9;
}

@media screen and (max-width: 426px) {
  .colorTexto {
    padding: 15px 25px;
  }
}

.estaciones {
  text-align: center;
}

.estaciones img {
  width: 500px;
  margin: 10px 50px;
}

@media screen and (max-width: 769px) {
  .estaciones img {
    width: 350px;
  }
}

@media screen and (max-width: 426px) {
  .estaciones img {
    width: 200px;
  }
}

.clima {
  text-align: center;
}

.clima img {
  width: 400px;
  margin: 10px 25px;
}

@media screen and (max-width: 769px) {
  .clima img {
    width: 350px;
  }
}

@media screen and (max-width: 426px) {
  .clima img {
    width: 200px;
  }
}

/* Manga */
div.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 400px 200px 400px;
      grid-template-columns: 200px 400px 200px 400px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding: 40px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 769px) {
  div.grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 360px;
        grid-template-columns: 200px 360px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 40px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 426px) {
  div.grilla {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
}

div.grilla img.manga {
  width: 200px;
  height: 320px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 769px) {
  div.grilla img.manga {
    width: 200px;
    height: 320px;
  }
}

@media screen and (max-width: 426px) {
  div.grilla img.manga {
    display: none;
  }
}

div.grilla .grilla__seccion {
  border-right: 1.5px solid #2dc2bdff;
  border-top: 1.5px solid #2dc2bdff;
  padding-top: 5px;
}

div.grilla .grilla__seccion p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #7a82abff;
  font-size: 1.8rem;
  font-weight: bold;
}

.sobre {
  background-color: white;
  padding: 5px;
}

.verMas {
  border: 2px solid #2f0141;
  font-size: 1rem;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.verMas:hover {
  background-color: #2f0141;
  color: white;
}

.meGusta {
  color: #f7717dff;
  background-color: white;
  border: 1px solid #f7717dff;
  font-size: 1.5rem;
  padding: 4px;
  border-radius: 10px;
}

.meGusta:hover {
  color: white;
  background-color: #f7717dff;
}

#favorito:checked ~ label {
  color: white;
  background-color: #f7717dff;
}

#favorito1:checked ~ label {
  color: white;
  background-color: #f7717dff;
}

#favorito2:checked ~ label {
  color: white;
  background-color: #f7717dff;
}

#favorito3:checked ~ label {
  color: white;
  background-color: #f7717dff;
}

#favorito4:checked ~ label {
  color: white;
  background-color: #f7717dff;
}

#favorito5:checked ~ label {
  color: white;
  background-color: #f7717dff;
}

/*Links*/
.links {
  text-decoration: none;
  color: black;
  font-style: italic;
}

/*Reseñas*/
.reseñas {
  margin: 25px 50px;
  background-color: #c6d4ffff;
  border-radius: 10px;
}

@media screen and (max-width: 426px) {
  .reseñas {
    margin: 15px;
  }
}

.reseñas h2 {
  margin: 15px;
  font-size: 2rem;
  color: #16001eff;
  padding: 10px 5px;
  font-weight: bold;
}

.reseñas div {
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.reseñas div p {
  font-size: 1rem;
}

.reseña__quien {
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  font-size: 1rem;
}

.review {
  display: block;
  margin: auto;
  background-color: #16001eff;
  padding: 10px;
  width: 500px;
  height: 300px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .review {
    width: 250px;
    height: 150px;
  }
}

.formulario {
  margin: 50px 250px;
  padding: 35px;
  border: 2px solid #16001eff;
  border-radius: 15px;
}

.formulario legend {
  color: #f7717dff;
}

.formulario label {
  color: black;
}

@media screen and (max-width: 769px) {
  .formulario {
    margin: 15px 10px;
    background-color: whitesmoke;
  }
}

.numeroPagina {
  color: #2dc2bdff;
  border: solid 1.5px #2dc2bdff;
}

.numeroPagina:hover {
  color: white;
  background-color: #2dc2bdff;
}

.antesDsp {
  color: #7a82abff;
  border: solid 1.5px #7a82abff;
}

.antesDsp:hover {
  color: white;
  background-color: #7a82abff;
}
/*# sourceMappingURL=styles.css.map */