@import 'mixin';
header{
    margin-bottom: 25px;
    position: sticky; z-index:3;
    top: 0;
    background-color: #eaeae9;
    nav{
        border-bottom: 2px solid $colorLilaDos;
        ul{
            @include tablet{
               align-items: center;
            }
        }
    }
}
 .subtitulo{
     text-decoration: none;
     color: black;
     font-size: 1.5rem;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold; 
 }
 .subtitulo:hover{
     color:$colorLila;
 }
 .activo{
     color: $colorRosa;
 }
 .activo:hover{
     color:$colorRosa;
 }
 .perfil{
     width: 30px;
     height: 30px;
     text-align: center;
 }
ol ul{
    position: absolute;
    display: none;
    li {
        display: block;
    }
}
.botonHambu{
    color: $colorVioleta;
    background-color: #eaeae9;
    border: solid 1px $colorVioleta;
    border-radius: 10px;
}
.botonBuscar{
    border: 1px solid $colorRosa;
}
.botonBuscar:hover{
    background-color: $colorRosa;
    border: 1px solid $colorRosa;
}