@import 'mixin';
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
} 

body{
    margin: 0px 0px;
    background: url(../imgs/fondo{.jpg) repeat-y center fixed;
    background-size:cover;
    @include tablet {
        background-position: right;
    }
    
}

