/* tipografias a usar
courier new,gillsans y arial*/
@import 'variables';
@import 'reset';
@import 'header';
@import 'mixin';

/* Index */
.carrusel{
    height: 600px;
    width: auto;
    padding: 40px 200px;
    @include tablet{
        height: 350px;
        padding: 20px 75px ;
    }
}
.carousel-item{
    @include tablet{
        padding-bottom: 25px;
    }
}
.div__h5__p{
    background-color: black;
    color: white;
    font-size: 1rem;
}
.main__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px;
}
.div__section{
    display: inline-block;
    width: 600px;
    height: auto;
    padding-bottom: 20px;
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    ul{
        padding-left: 0px;
    }
}   
}
.portada{
    width: 800px;
    height: 400px;
    padding-bottom: 40px;
    display: block;
    margin: auto; 
}
li {
    display: flex;
    list-style: none;
    list-style-position: inside;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.juntos{
    justify-content: left;
}
.sticker{
    width: 85px;
    height: 85px;
    margin: 5px;
    @include tablet{
        width: 80px;
        height: 80px; 
    }
}
.noticia{
    background-color:white;
    border: solid 2px $colorCeleste ;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 12px;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    color: $colorLilaDos;
    font-weight: bold; 
}
.prox{
    width: 200px;
    height: 110px;
    margin-right: 15px;
}
/*Estrellitas */
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    p{
        text-align: center; 
    }
    label{
        font-size: 20px;
    }
}
input[type="radio"] {
    display: none;
}
  
label {
    color: $colorLilaDos;
}
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
    color: $colorCeleste;
}
input[type="radio"]:checked ~ label {
    color: $colorCeleste;
}
/* Fin Estrellitas */


.titulos{
    color: $colorRosa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-image: url("https://i.pinimg.com/564x/c3/96/b7/c396b715d21f85d3144777eb5871040d.jpg");
    background-position: center bottom; 
    border-radius: 8px; 
}
ul.tipoDeManga li{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    display: inline-block;
    margin: 20px;
    text-align: center;
}


/* Footer ya se que lo voy a terminar cambiando */
footer{
    color:white;
    font-weight: bolder;
    background-image: linear-gradient(to bottom,#16001eff , rgb(58, 1, 78));
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 25px;
        height: 25px;
        margin: 8px; 
    }
}

/* Anime */
.container{
    text-align: center;
}
.container__anime{
    border: 1px solid $colorVioleta;
    width: 300px;
    height: 350px;
    margin:10px  auto;
    padding: 15px;
    p.nombreAnime{
        color: $colorCeleste;
        font-family:'Georama', sans-serif;;
        font-size: 2rem;
        margin-top: 25px; 
    }
    p{
        font-size: 1rem;
    }
}


/* Japones*/
.hiragana{
    font-size: 1rem;
    color: $colorCeleste;
    font-weight: bold;
}


@each $japones in hiragana2, numerosjapones, numerosjapones2 {
    .imgJapones#{$japones} {
        background-image: url('../imgs/#{$japones}.jpg');
        width: 700px;
        height: 720px;
        background-repeat: no-repeat;
        background-position: center;
    }
}


img{
    width: 200px;
}
p,li{
    line-height : 25px;
    margin: 10px;
}
.links{
    color: black;
    font-style: italic;
}


/* Manga */
div.grilla{
        display:grid;  
        grid-template-columns: 200px 400px 200px 400px;
        grid-template-rows: auto ;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        padding: 40px 0px;
        justify-content: center;
        align-items: center;
        @include tablet{
            display: grid;
            grid-template-columns: 200px 360px;
            grid-template-rows: auto;
            grid-column-gap: 20px;
            grid-row-gap: 40px;
            padding: 40px 0px; 
            justify-content: center;
        }
    img.manga{
        width: 200px;
        height: 320px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
        @include tablet{
            width: 200px;
            height: 320px;
        }
    }  
    .grilla__seccion {
        border-right: 1.5px solid $colorCeleste ;
        border-top: 1.5px solid $colorCeleste ;
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
        }
    }  
}
h1{
    font-family:'Courier New', Courier, monospace;
    color: $colorLilaDos;
    font-size: 1.8rem;
    font-weight: bold;
}
.sobre{
    background-color: white;
    padding: 5px;
}
.verMas{
    border: 2px solid rgb(47, 1, 65);
    font-size: 1rem;
    padding: 5px;
    background-color:white;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.verMas:hover{
    background-color:rgb(47, 1, 65) ; 
    color: white;
}
p a{
    text-decoration: none;
}

/*Reseñas*/
.reseñas{
    margin: 25px 0px;
    background-color: $colorLila;
    border-radius: 10px;
    h2{
        margin: 15px;
        font-size: 2rem;
        color:$colorVioleta;
        padding: 10px 5px;
        font-weight: bold;
    }
    div{
        margin: 15px;
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        p{
            font-size: 1rem;
        }
    }
}

.reseña__quien{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: 1rem;
}
.review{
    display: block;
    margin: auto;
    background-color:$colorVioleta;
    padding: 10px;
    width: 500px;
    height: 300px;
    text-align: center;
}
.formulario{
    margin: 50px 250px;
    padding: 35px;
    border: 2px solid $colorRosa;
    border-radius: 15px;
    label{
        color: black;
    }
}