/* tipografias a usar
courier new,gillsans y arial*/
@import 'variables';
@import 'reset';
@import 'header';
@import 'mixin';

/* Index */
.carrusel{
    height: 600px;
    width: auto;
    padding: 40px 200px;
    @include tablet{
        height: 350px;
        padding: 20px 75px ;
    }
    @include celular{
        height: 200px;
        padding: 15px 35px ;
    }
}
.carousel-item{
    @include tablet{
        padding-bottom: 25px;
    }
}
.div__h5__p{
    background-color: black;
    color: white;
    font-size: 1rem;
    @include celular{
        margin-top: 110px;
    }
}

.portada{
    width: 800px;
    height: 400px;
    padding-bottom: 40px;
    display: block;
    margin: auto; 
}
li {
    display: flex;
    list-style: none;
    list-style-position: inside;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.juntos{
    justify-content: left;
}
.sticker{
    width: 85px;
    height: 85px;
    margin: 5px;
    @include tablet{
        width: 80px;
        height: 80px;
    }
    @include celular{
        width: 50px;
        height: 50px;
    }
}
.noticia{
    background-color:white;
    border: solid 2px $colorCeleste ;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 12px;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    color: $colorLilaDos;
    font-weight: bold; 
}
.prox{
    width: 200px;
    height: 110px;
    margin-right: 15px;
    @include celular{
        width: 100px;
        height: 55px;
    }
}
.contenedor{
    padding: 12px 0px;
    justify-content: center;
    .row{
        padding-bottom: 25px;
        .col-md-8{
            margin-bottom: 25px;
            @include tablet{
                width: 800px;
            }
            @include celular{
                width: 95%;
                margin: 15px;
            }
        }
        .col-md-4{
            margin-bottom: 25px;
            @include tablet{
                width: 800px;
            }
            @include celular{
                width: 95%;
                margin: 15px;
            }
        }
        ul{
            padding-left: 0px;
            background-color: #eaeae9;
        }
    }
}

/*Estrellitas */
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    p{
        text-align: center; 
    }
    label{
        font-size: 20px;
    }
}
input[type="radio"] {
    display: none;
}
  
label {
    color: $colorLilaDos;
}
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
    color: $colorCeleste;
}
input[type="radio"]:checked ~ label {
    color: $colorCeleste;
}
/* Fin Estrellitas */


.titulos{
    color: $colorRosa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-image: url("https://i.pinimg.com/564x/c3/96/b7/c396b715d21f85d3144777eb5871040d.jpg");
    background-position: center bottom; 
    border-radius: 8px; 
}
ul.tipoDeManga li{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    display: inline-block;
    margin: 20px;
    text-align: center;
}


/* Footer ya se que lo voy a terminar cambiando */
footer{
    color:white;
    font-weight: bolder;
    background-image: linear-gradient(to bottom,#16001eff , rgb(58, 1, 78));
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 25px;
        height: 25px;
        margin: 8px; 
        @include celular{
            width: 15px;
            height: 15px;
        }
    }
}

/* Anime */
.container{
    text-align: left;
    margin: 35px auto;

}
.container__anime{
    background-color: $colorVioleta;
    width: 300px;
    height: 470px;
    margin: 10px  auto;
    position: relative;
    p.nombreAnime{
        color: $colorCeleste;
        font-family:'Georama', sans-serif;
        font-size: 2rem;
        padding-left: 15px;
        position: relative;
    }
    p{
        font-size: 1rem;
        color: white;
    }
}
.container__anime:hover{
    box-shadow: 5px 5px;
    color: $colorCeleste;

}
.anime{
    display: block;
    margin: 15px auto;
    padding: 5px;
    background-color: $colorLilaDos;
    width: 250px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.middle:hover{
    opacity: 1;
}
.text {
    .boton{
        background-color: $colorLila;
        border: $colorLila;
        color: black;
        font-family:'Georama', sans-serif;
        font-size: 0.9rem;
        padding: 5px 5px;
        width: 150px;
    }
}
/*tooltip*/
.tooltip {
    opacity: 1;
    z-index: 1;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    height: auto;
    background-color: white;
    color: black;
    border: 2px solid $colorCeleste;
    text-align: center;
    font-size: 1rem;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    @include tablet{
        display: none;
    }
    @include celular{
        display: none;
    }
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $colorCeleste transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Japones*/
.hiragana{
    font-size: 1rem;
    color: $colorCeleste;
    font-weight: bold;
}

img{
    width: 200px;
}
p,li{
    line-height : 25px;
    margin: 10px;
}

/* Manga */
div.grilla{
        display:grid;  
        grid-template-columns: 200px 400px 200px 400px;
        grid-template-rows: auto ;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        padding: 40px 0px;
        justify-content: center;
        align-items: center;
        @include tablet{
            display: grid;
            grid-template-columns: 200px 360px;
            grid-template-rows: auto;
            grid-column-gap: 20px;
            grid-row-gap: 40px;
            padding: 40px 0px; 
            justify-content: center;
        }
        @include celular{
            grid-template-columns: 360px;
        }
    img.manga{
        width: 200px;
        height: 320px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
        @include tablet{
            width: 200px;
            height: 320px;
        }
        @include celular{
            display: none;
        }
    }  
    .grilla__seccion {
        border-right: 1.5px solid $colorCeleste ;
        border-top: 1.5px solid $colorCeleste ;
        padding-top: 5px;
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
        }
    }  
}
h1{
    font-family:'Courier New', Courier, monospace;
    color: $colorLilaDos;
    font-size: 1.8rem;
    font-weight: bold;
}
.sobre{
    background-color: white;
    padding: 5px;
}
.verMas{
    border: 2px solid rgb(47, 1, 65);
    font-size: 1rem;
    padding: 5px;
    background-color:white;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.verMas:hover{
    background-color:rgb(47, 1, 65) ; 
    color: white;
}
.meGusta{
    color: $colorRosa;
    background-color: white;
    border:1px solid $colorRosa;
    font-size: 1.5rem;
    padding: 4px;
    border-radius: 10px;
}
.meGusta:hover{
    color: white;
    background-color: $colorRosa;
}
#favorito:checked ~ label {
    color: white;
    background-color: $colorRosa;
}
#favorito1:checked ~ label {
    color: white;
    background-color: $colorRosa;
}
#favorito2:checked ~ label {
    color: white;
    background-color: $colorRosa;
}
#favorito3:checked ~ label {
    color: white;
    background-color: $colorRosa;
}
#favorito4:checked ~ label {
    color: white;
    background-color: $colorRosa;
}
#favorito5:checked ~ label {
    color: white;
    background-color: $colorRosa;
}

/*Links*/
.links{
    text-decoration: none;
    color: black;
    font-style: italic;
}

/*Reseñas*/
.reseñas{
    margin: 25px 50px;
    background-color: $colorLila;
    border-radius: 10px;
    @include celular{
        margin: 15px;
    }
    h2{
        margin: 15px;
        font-size: 2rem;
        color:$colorVioleta;
        padding: 10px 5px;
        font-weight: bold;
    }
    div{
        margin: 15px;
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        p{
            font-size: 1rem;
        }
    }
}

.reseña__quien{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: 1rem;
}
.review{
    display: block;
    margin: auto;
    background-color:$colorVioleta;
    padding: 10px;
    width: 500px;
    height: 300px;
    text-align: center;
    @include tablet{
        width: 250px;
        height: 150px;
    }
}
.formulario{
    margin: 50px 250px;
    padding: 35px;
    border: 2px solid $colorVioleta;
    border-radius: 15px;
    legend{
        color: $colorRosa
    }
    label{
        color: black;
    }
    @include tablet{
        margin: 15px 10px;
        background-color: whitesmoke;
    }
}
.numeroPagina{
    color: $colorCeleste;
    border: solid 1.5px $colorCeleste;
}
.numeroPagina:hover{
    color: white;
    background-color: $colorCeleste;
}
.antesDsp{
    color: $colorLilaDos;
    border: solid 1.5px $colorLilaDos
}
.antesDsp:hover{
    color: white;
    background-color: $colorLilaDos ;
}


